<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Caseware: x-menu" verbose="1" parallel="tests" thread-count="2">
    <test name="Init tests" >
        <classes>
            <class name="com.corevalue.tests.xmenu.file.LoginTest" />
            <class name="com.corevalue.tests.xmenu.help.HelpMenuTest"/>
        </classes>
    </test>

    <test name="menus: Management test">
        <groups>
            <run>
                <include name="management" />
            </run>
        </groups>
        <packages>
            <package name="com.corevalue.tests.xmenu.management" />
        </packages>
    </test>
</suite>
